.container-cart {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 100vh;
    padding: 20px;
    box-shadow:  -5px 0 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 10;
    right: 0;
    transition: right 1s;
}

.container-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container-title svg {
    font-size: 30px;
}
.sombra {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.container-cart .container-item-cart div {
    display: flex;     
}

.container-item-cart div .item-img {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-item-cart div .item-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container-item-cart div .item-txt p {
    font-size: 15px;
    font-weight: 800;
    color: #464646;
}

.container-item-cart div .item-txt button {
    width: 150px;
    height: 20px;
    font-size: 11px;
    color: white;
    background-color: #464646;
    border: none;
    border-radius: 5px;
}