.container-details {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.container-product-details {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.container-product-details img {
    width: 300px;
    padding: 20px;
}

.container-product-details .details-txt {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-product-details .details-txt h2 {
    color: #505050;
}

.container-product-details .details-txt .price {
    font-size: 25px;
    font-weight: 700;
    color: #fcbd00;
}

.container-product-details .details-txt p {
    color: #949494; 
}

.container-product-details .details-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-product-details .details-top button {
    background-color: white;
    border: none;
    font-size: 30px;
    color: #fcbd00;
    cursor: pointer;
}

.container-product-details .details-top .rating {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.container-product-details .details-top .rating p {
    color: #fcbd00;

}

.container-product-details .details-top .rating .icon-star {
    color: #fcbd00;
    font-size: 20px;

}